body {
    background: deepskyblue;
}

p {
    color: white;
}

h1 {
    color: black;
}

.about-me{
    background: black;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.center {
    text-align: center;
}
